*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(234, 232, 220);
}

#title, #title-lasagna, #title-ceviche{
    text-align: center;
    font-size: 35px;
}

.img{
   text-align: center;
   padding: 30px;
}

img {
    border-radius: 30px;
}

.para.par {
    font-weight: 800;
    font-size: 30px;
}

.list a{
    text-decoration: none;
    color: green;
}

.list a:hover{
    font-size: large;
}

.ingredients-lasagna p {
    font-size: 25px;
    font-weight: bold;
}
.steps-lasagna p {
    font-weight: bold;
    font-size: 25px;
}

.ingredients-ceviche p {
    font-size: 25px;
    font-weight: bold;
}

.steps-cechive p {
    font-size: 25px;
    font-weight: bold;
}

.list {
    margin: 15px;
    padding: auto;
    font-size: 17px;
}